* {
  padding: 0;
  margin: 0;
  background-color: #15131d;
  color: aliceblue;
  text-decoration: none;
}

.menu {
  text-transform: uppercase;
}

.menu ul{
  display: flex;
  justify-content: end;
  gap: 10px;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content h1 {
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #366af8;
}

.content img {
  width: 50vw;
  height: 70vh;
}